project:
  type: website

website:
  title: "Blog"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: https://lisanicvert.github.io/
        text: Personal website
format:
  html:
    theme:
      dark: darkly
      light: flatly
    css: styles.css
    toc: true

editor: source

